
<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table class="table table-hover table-striped ">

  <tr *ngFor="let p of service.listOfGuests;">

    <td (click)="populateForm(p)">{{p.firstName}} {{p.lastName}}</td>
    <td (click)="populateForm(p)">{{p.checkIn | date:'mediumDate'}} - {{p.checkOut | date:'mediumDate'}}</td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(p.id)"></i>
    </td>
    <td>
        <i class="fas fa-file-pdf fa-lg text-primary" (click)="onInvoice(p.id)"></i>
      </td>
  </tr>
</table>

</div>
