<div class="jumbotron">
<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <!-- <img src="/assets/img/logo2.png" class="img-fluid" alt="Max-width 20%"> -->
    </div>
    <div class="col-md-4"></div>

</div>
  <!-- <h1 class="display-6 text-center">RENTAL RESERVATION APP</h1> -->
<br>
  <div class="row" >
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <img src="/assets/img/create.png" class="img-fluid" alt="Max-width 20%">
      </div>
      <div class="col-md-4">
      </div>

      <div class="col-md-2">
          <img src="/assets/img/list.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
  <h1>NEW RESERVATION</h1>
        </div>
        <div class="col-md-6">
            <h1>RESERVATION LIST</h1>
            <h3>INVOICE CREATOR</h3>
        </div>
    </div>
  <div class="row">
    <div class="col-md-6">
        <app-reservation-detail></app-reservation-detail>
    </div>
    <div class="col-md-6">
      <app-reservation-detail-list></app-reservation-detail-list>
    </div>
  </div>
  <div class="row">
</div>
<hr class="styleLine">
  <h1 class="display-8 text-center">Rental Statistics:</h1>
  <div class="row">
      <br>
  </div>

  <div class="row">
      <div class="col-md-12">
            <app-reservation-detail-stats></app-reservation-detail-stats>
      </div>
  </div>
</div>
