<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" [value]="service.formData.id">
  <div class="form-row">
  <!-- FIRSTNAME-->
  <div class="form-group col-md-6">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user"></i>
        </div>
      </div>
      <input name="firstName"#firstName="ngModel" [(ngModel)]="service.formData.firstName" class="form-control" placeholder="First Name" required>
    </div>
  </div>

   <!-- LASTNAME-->
   <div class="form-group col-md-6">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user"></i>
        </div>
      </div>
      <input name="lastName" #lastName="ngModel" [(ngModel)]="service.formData.lastName" class="form-control" placeholder="Last Name" required>
    </div>
  </div>
</div>
   <!-- EMAIL-->
   <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-envelope"></i>
        </div>
      </div>
      <input name="email" #email="ngModel" [(ngModel)]="service.formData.email" class="form-control" placeholder="e-mail" required>
    </div>
  </div>

   <!-- COMPANY NAME-->
   <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-building"></i>
        </div>
      </div>
      <input name="companyName" #companyName="ngModel" [(ngModel)]="service.formData.companyName" class="form-control" placeholder="Company Name" required>
    </div>
  </div>

   <!-- NIP-->
   <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-list-ol"></i>
        </div>
      </div>
      <input name="nip" #Nip="ngModel" [(ngModel)]="service.formData.nip" class="form-control" placeholder="nip" required>
    </div>
  </div>

   <!-- PRICE-->
   <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-dollar-sign"></i>
        </div>
      </div>
      <input name="price" #price="ngModel" [(ngModel)]="service.formData.price" class="form-control" placeholder="Price" required>
    </div>
  </div>

   <!-- RESERVATION NUMBER-->
   <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-list-ol"></i>
        </div>
      </div>
      <input name="reservationNumber" #reservationNumber="ngModel" [(ngModel)]="service.formData.reservationNumber" class="form-control" placeholder="Reservation Number" required>
    </div>
  </div>

  <div class="form-row">
   <!-- CHECK IN-->
   <div class="form-group col-md-6">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-calendar-alt"></i>
        </div>
      </div>
      <input type="date" name="checkIn" #checkIn="ngModel" [(ngModel)]="service.formData.checkIn" class="form-control" required>
    </div>
  </div>

   <!-- CHECK OUT-->
   <div class="form-group col-md-6">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-calendar-alt"></i>
        </div>
      </div>
      <input type="date" name="checkOut" #checkOut="ngModel" [(ngModel)]="service.formData.checkOut" class="form-control" required>
    </div>
  </div>
  </div>
  <div class="form-group">
  <button class="btn btn-primary btn-lg btn-block active" type="submit"> <i class="fas fa-save"></i> Submit</button>
</div>
</form>
